.documentViewer {
    flex: 1;
    padding: 1.5rem;
    color: var(--black-invert);
    overflow-y: auto;

    margin: 10px;
    background-color: var(--glass-bg);
    box-shadow: inset 0 0 20px var(--glass-rimlight);    
    backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
    border-radius: 10px;
}

.documentViewer h2,
.documentViewer p {
    margin: 0;
}

.docMeta {
    font-size: 1rem;
}

.metaLabel {
    font-weight: 600;
}

.documentHeaderMetadata {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-neutral-grey-lighter);
}

.documentHeader {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.documentHeaderTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.documentHeaderTitle {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 0.5rem 0;
}

.documentHeaderTitle span {
    font-size: 12pt;
    font-weight: 600;
}

.documentActions {
    display: flex;
    gap: 8px;
}

.editButton,
.deleteButton {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.editButton {
    background-color: #f3f4f6;
    border: 1px solid var(--glass-border);
    color: #374151;
}

.editButton:hover {
    background-color: #e5e7eb;
}

.deleteButton {
    background-color: #fee2e2;
    border: 1px solid #fecaca;
    color: var(--error-color)
}

.deleteButton:hover {
    background-color: #fecaca;
}

.editorContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.markdownEditor {
    width: 100%;
    height: 400px;
    padding: 16px;
    border: 1px solid var(--glass-border);
    border-radius: 4px;
    font-family: monospace;
    resize: vertical;
}

.editorActions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.cancelButton {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f3f4f6;
    border: 1px solid var(--glass-border);
}

.saveButton {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--btn-primary-bg);
    color: white;
    border: none;
}

.saveButton:hover {
    background-color: var(--primary-hover-color);
}

.noSelection {
    text-align: center;
    color: var(--primary-neutral-grey-darker);
    margin: auto;
}

.documentContent {
    white-space: wrap;
    line-height: 1.6;
}

.documentText {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    flex: 1;
    padding: 0.75rem;
    box-sizing: border-box;
}

.clickableText {
    color: var(--btn-primary-bg);
    text-decoration: underline;
    cursor: pointer;
}

.contextPanel {
    position: sticky;
    top: 0;
    flex: 0 0 600px;
    /* Fixed width of 400px */
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--glass-bg);
    box-shadow: inset 0 0 20px var(--glass-rimlight);    
    backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
    border-radius: 10px;
}

.contextPanel .contextActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}

.contextPanel button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--btn-primary-bg);
    color: white;
    border: none;
}

.contextPanel .closeContext {
    background-color: #fee2e2;
    border: 1px solid #fecaca;
    color: var(--error-color)
}

.closeContext:hover {
    background-color: #fecaca;
}


.contextPanel .setActiveButton {
    background-color: var(--btn-primary-bg);
}

.documentContent {
    display: flex;
    width: 100%;
}


.clickableText {
    color: var(--btn-primary-bg);
    text-decoration: underline;
    cursor: pointer;
}

.homeScreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .bentoBox {
    display: flex;
    flex: 1;
  }
  
  .leftColumn, .rightColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .leftColumn .box, .rightColumn .box {
    flex: 1;
    margin: 10px;
    border: 1px solid var(--glass-border);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    position: relative;
  }

  .leftColumn .box img, .rightColumn .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottomRow {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    background-color: var(--glass-bg);
    box-shadow: inset 0 0 20px var(--glass-rimlight);    
    backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
    border-radius: 10px;
  }
  
  .bottomRowButton {
    padding: 10px 20px;
    background-color: var(--btn-primary-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bottomRowButton:hover {
    background-color: var(--primary-hover-color);
  }
